// Заголовки, общие БЄМ блоки и проче...
.btn {
	background-color: $bgBtn;
	color: #fff;
	line-height: math.div(22, 16);
	display: flex;
	align-items: center;
	column-gap: 10px;
	width: fit-content;
	padding: 5px 8px;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	&:hover {
		background-color: $hoverBtn;
		transition: all 0.2s ease-in-out;
		._icon-like {
			fill: $hoverBtn;
		}
	}
}

h2 {
	font-weight: 700;
	font-size: rem(26);
	color: #000;
	text-transform: uppercase;
}

h3 {
	text-align: right;
	font-weight: 700;
	font-size: rem(25);
	line-height: math.div(34, 25);
	color: #000000;
}

[class*="__container"] {
	// border-left: 1px solid red;
	// border-right: 1px solid red;
	@media (max-width: $pc) {
		padding: 0 20px;
	}
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 18px;
}

// Select
.select {
	position: relative;
	width: 90px;
}
.select.is-active .select__body {
	display: block;
}

.select__header {
	background: #ffffff;
	border: 1px solid #000000;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: space-around;
}
.select__current {
	font-size: 18px;
	line-height: 24px;
	padding: 8px;
}
.select__icon {
	align-items: center;
	display: flex;
	height: 40px;
	text-align: center;
}

.select__body {
	background: #ffffff;
	border: 1px solid #535353;
	border-radius: 5px;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 103%;
}
.select__item {
	cursor: pointer;
	font-size: rem(16);
	line-height: math.div(24, 16);
	padding: 8px;
	border-radius: 5px;
	transition: all 0.4s ease-in-out;
}

.select__item:hover {
	background-color: #f2f2f2;
	transition: all 0.4s ease-in-out;
}

// Radio

.form_radio {
}
.form_radio input[type="radio"] {
	display: none;
}
.form_radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	margin-right: 0;
	width: 16px;
	height: 16px;
	user-select: none;
	border-radius: 50%;
	padding: 3px;
	&:before {
		content: "";
		position: absolute;
		border: 2px solid #999999;
		width: 22px;
		height: 22px;
		top: 50%;
		left: 50%;
		border-radius: 50%;
		transform: translate(-50%, -50%);
	}
}

/* Checked */
.form_radio input[type="radio"]:checked + label:before {
	border: 2px solid #535353;
}
