// Заголовки, общие БЄМ блоки и проче...
.btn {
	background-color: $bgBtn;
	color: #fff;
	line-height: math.div(22, 16);
	display: flex;
	align-items: center;
	column-gap: 10px;
	width: fit-content;
	padding: 5px 8px;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	&:hover {
		background-color: $hoverBtn;
		transition: all 0.2s ease-in-out;
		._icon-like {
			fill: $hoverBtn;
		}
	}
}

h2 {
	font-weight: 700;
	font-size: rem(26);
	color: #000;
	text-transform: uppercase;
}

h3 {
	text-align: right;
	font-weight: 700;
	font-size: rem(25);
	line-height: math.div(34, 25);
	color: #000000;
}

input {
	outline: none;
}

[class*="__container"] {
	// border-left: 1px solid red;
	// border-right: 1px solid red;
	@media (max-width: $pc) {
		padding: 0 20px;
	}
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 18px;
}

// Select
.select {
	position: relative;
	min-width: 90px;
}
.select.is-active .select__body {
	display: block;
}

.select__header {
	background: #ffffff;
	border: 1px solid #000000;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: space-around;
}
.select__current {
	font-size: 18px;
	line-height: 24px;
	padding: 8px;
}
.select__icon {
	align-items: center;
	display: flex;
	height: 40px;
	text-align: center;
	padding-right: 8px;
}

.select__body {
	background: #ffffff;
	border: 1px solid #535353;
	border-radius: 5px;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 103%;
	z-index: 3;
}
.select__item {
	cursor: pointer;
	font-size: rem(16);
	line-height: math.div(24, 16);
	padding: 8px;
	border-radius: 5px;
	transition: all 0.4s ease-in-out;
}

.select__item:hover {
	background-color: #f2f2f2;
	transition: all 0.4s ease-in-out;
}

// Radio

.form_radio {
}
.form_radio input[type="radio"] {
	display: none;
}
.form_radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	margin-right: 0;
	width: 16px;
	height: 16px;
	user-select: none;
	border-radius: 50%;
	padding: 3px;
	&:before {
		content: "";
		position: absolute;
		border: 2px solid #999999;
		width: 22px;
		height: 22px;
		top: 50%;
		left: 50%;
		border-radius: 50%;
		transform: translate(-50%, -50%);
	}
}

/* Checked */
.form_radio input[type="radio"]:checked + label:before {
	border: 2px solid #535353;
}

// Card product
.card-product {
	background: #ffffff;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	padding: 23px;

	// .card-product__labels
	&__labels {
		position: absolute;
		top: 11px;
		left: 11px;
		.sale {
			background: #ff6161;
			border-radius: 3px;
			padding: 3px 7px;
			font-size: rem(10);
			line-height: math.div(14, 10);
			color: #ffffff;
		}
		.new {
			background: #44c44a;
			border-radius: 3px;
			padding: 3px 7px;
			font-size: rem(10);
			line-height: math.div(14, 10);
			color: #ffffff;
		}
	}

	// .card-product__img

	&__img {
		position: relative;
		width: 100%;
		img {
			object-fit: contain;
			width: inherit;
		}
	}

	// .card-product__data

	&__data {
	}

	// .card-product__btns

	&__btns {
		display: flex;
		column-gap: 17px;
	}

	// .card-product__btn

	&__btn {
	}
}
.data-product {
	padding: 8px 0;
	// .data-product__title

	&__title {
		font-weight: 600;
		font-size: rem(20);
		line-height: math.div(27, 20);
		margin-bottom: 6px;
	}

	// .data-product__price

	&__price {
		display: flex;
		align-items: flex-end;
		column-gap: 9px;
	}
}
.price {
	line-height: math.div(22, 16);
}
.old_price {
	font-weight: 300;
	font-size: rem(12);
	line-height: math.div(16, 12);
	color: #a3a3a3;
	text-decoration: solid;
	text-decoration: line-through;
}
