//====================================================================================================

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
.logo {
	display: flex;
	align-items: center;
}
.header {
	// .header__top

	&__top {
		display: flex;
		justify-content: space-between;
		padding: 22px 0;
	}
	&__top_wrapper {
		border-bottom: 1px solid #dddada;
	}
	&__bottom_wrapper {
		position: relative;
		border-bottom: 1px solid #dddada;
	}

	// .header__bottom

	&__bottom {
		padding: 9px 0;
		@media (max-width: 596px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			column-gap: 10px;
		}
	}
}
.header-search {
	position: relative;
	display: inline-block;
	// .header-search__input

	&__input {
		padding: 12px 23px;
		border: 0.5px solid #404040;
		border-radius: 120px;
		@include adaptiveValue("width", 303, 239, 596, 320, 1);
		font-size: rem(12);
		font-weight: 300;
		line-height: math.div(16, 12);
	}

	// .header-search__btn

	&__btn {
		position: absolute;
		right: 17px;
		top: 50%;
		transform: translateY(-50%);
	}

	// .header-search__icon

	&__icon {
		font-size: rem(21);
	}
}
.top-nav {
	display: flex;
	align-items: center;
	column-gap: 10px;
	// .top-nav__link

	&__link {
		i {
			color: $bgBtn;
			font-size: rem(21);
		}
	}
}
.menu {
	width: 100%;
	// .menu__body

	&__body {
		@media (max-width: $mobile) {
			position: absolute;
			top: 100%;
			bottom: 0;
			background-color: #fff;
			padding: 40px 0 0 4px;
			width: 320px;
			height: 100vh;
			left: -100%;
		}
	}

	// .menu__list

	&__list {
		display: flex;
		column-gap: 40px;
		@media (max-width: $mobile) {
			justify-content: center;
			flex-direction: column;
			row-gap: 40px;
		}
	}

	// .menu__item

	&__item {
	}

	// .menu__link

	&__link {
		display: flex;
		align-items: center;
		column-gap: 5px;
		transition: color 0.4s ease-in-out;
		&:hover {
			color: $hoverText;
			transition: color 0.4s ease-in-out;
		}
		@media (max-width: $mobile) {
			font-weight: 700;
			font-size: rem(18);
		}
	}
}

.menu-open .menu__body {
	left: 0;
	transition: left 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
