//====================================================================================================
// Home
//====================================================================================================

.intro {
	// .intro__inner

	&__inner {
		position: relative;
		display: flex;
		justify-content: space-between;
		column-gap: 5px;
	}

	// .intro__left

	&__left {
		margin-top: 76px;
		display: flex;
		flex-direction: column;
		row-gap: 25px;
		justify-content: center;
		align-items: center;
	}

	// .intro__title

	&__title {
	}

	// .intro__card

	&__card {
		position: relative;
		> img,
		picture {
			object-fit: cover;
			object-position: center;
			width: 100%;
		}
	}

	// .intro__btn

	&__btn {
		position: absolute;
		right: 24px;
		bottom: 29px;
		@media (max-width: 650px) {
			right: 50%;
			transform: translateX(50%);
		}
	}

	// .intro__subtitle

	&__subtitle {
		position: absolute;
		top: 147px;
		left: 40.8%;
		transform: rotate(90deg) translateY(50%);
		white-space: pre;
		background-color: #fff;
		font-weight: 700;
		font-size: rem(26);
		padding: 21px 48px;
		height: fit-content;
		@media (max-width: 1112px) {
			display: none;
		}
	}

	// .intro__right

	&__right {
		@media (max-width: 650px) {
			display: none;
		}
		img,
		picture {
			object-fit: cover;
			object-position: center;
			width: 100%;
		}
	}
}

// Slider

.slider {
	margin-top: 50px;
	padding: 54px 0;
	&__inner {
		position: relative;
	}
	&__title {
		margin-bottom: 26px;
	}
}
.new {
	// .new__slider

	&__slider {
		width: 88%;
		margin: 0 auto;
	}

	// .new__swiper

	&__swiper {
		margin: 15px 0;
		display: flex;
		flex-direction: row;
		column-gap: 15px;
	}

	// .new__slide

	&__slide {
	}
}

.new-arrow {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	// .new-arrow_prev

	&_prev {
		position: absolute;
		font-size: rem(30);
		left: 0;
		cursor: pointer;
	}

	// .new-arrow_next

	&_next {
		position: absolute;
		font-size: rem(30);
		right: 0;
		cursor: pointer;
	}
}

// Banner

.banner {
	margin-bottom: 70px;
	// .banner__inner

	&__inner {
		background-color: #e0d5cf;
		display: flex;
		justify-content: space-between;
		column-gap: 15px;
		@media (max-width: $mobile) {
			flex-direction: column;
			row-gap: 30px;
			padding-top: 30px;
		}
	}

	// .banner__left

	&__left {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 21px;
	}

	// .banner__title

	&__title {
		text-align: center;
	}

	// .banner__img

	&__img {
		img,
		picture {
			object-fit: cover;
			object-position: center;
			max-width: 573px;
			max-height: 243px;
			@media (max-width: $mobile) {
				max-width: 100%;
				width: 100%;
			}
		}
	}
}

// Catalog

.catalog {
	// .catalog__top

	&__top {
	}

	// .catalog__title

	&__title {
	}

	// .catalog__inner

	&__inner {
		margin-top: 52px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 32px;
	}

	// .catalog__products

	&__products {
		display: grid;
		gap: 24px 9px;
		grid-template-columns: repeat(auto-fit, minmax(227px, 1fr));
		width: 100%;
		margin-bottom: 36px;
	}
}
.breadcrambs {
	font-size: rem(12);
	line-height: math.div(16, 12);
	color: #000000;
	a {
		&:first-child {
			font-weight: 700;
		}
	}
}
.filters-catalog {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 30px;
	margin-top: 80px;
	// .filters-catalog__title

	&__title {
		display: flex;
		align-items: center;
		column-gap: 9px;
		p {
			font-size: rem(16);
			line-height: math.div(22, 16);
			color: #000000;
		}
		i {
			font-size: rem(20);
		}
	}

	// .filters-catalog__form

	&__form {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 30px;
		row-gap: 30px;
	}

	// .filters-catalog__filter

	&__filter {
	}
}

// Product

.product {
	margin-bottom: 84px;
	// .product__top

	&__top {
	}

	// .product__inner

	&__inner {
		margin-top: 28px;
		display: flex;
		flex-wrap: wrap;
		column-gap: 27px;
		row-gap: 27px;
		@media (max-width: 1170px) {
			justify-content: center;
		}
	}

	// .product__gallery

	&__gallery {
		display: flex;
		flex-direction: column;
		row-gap: 35px;
		max-width: 569px;
		width: 100%;
	}
}
.product-zoom {
	height: 574px;
	width: 569px;
	overflow: hidden;
	cursor: pointer;
	@media (max-width: 600px) {
		width: 100%;
		height: fit-content;
	}
	// .product-zoom__img

	&__img {
		object-fit: cover;
		object-position: center;
		width: 100%;
		transition: transform 0.3s ease-in-out;
		&:hover {
			transform: scale(1.4);
			transition: transform 0.3s ease-in-out;
		}
	}
}
.product-thumbs {
	// .product-thumbs__track

	&__track {
		display: flex;
		column-gap: 21px;
		width: 100%;
		overflow-x: scroll;
		overflow-y: hidden;
		height: 142px;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
.pt {
	img,
	picture {
		width: 176px;
		object-fit: cover;
		object-position: center;
		height: 142px;
	}
	&.active {
		img,
		picture {
			border: 2px solid #000000;
		}
	}
}
.product-data {
	// .product-data__article

	&__article {
		font-size: rem(16);
		color: #414141;
		span {
			font-size: rem(14);
			color: #000000;
		}
		margin-bottom: 35px;
	}

	// .product-data__title

	&__title {
		font-weight: 700;
		font-size: rem(30);
		line-height: math.div(41, 30);
		text-transform: uppercase;
		margin-bottom: 29px;
	}

	// .product-data__descr

	&__descr {
		margin-bottom: 18px;
		max-width: 566px;
	}

	// .product-data__price

	&__price {
		font-weight: 700;
		font-size: rem(28);
		line-height: math.div(38, 28);
		margin-bottom: 26px;
	}

	// .product-data__settings

	&__settings {
		display: flex;
		column-gap: 37px;
		margin-bottom: 38px;
	}

	// .product-data__size

	&__size {
		display: flex;
		flex-direction: column;
		row-gap: 9px;
	}

	// .product-data__color

	&__color {
		display: flex;
		flex-direction: column;
		row-gap: 9px;
	}

	// .product-data__colors

	&__colors {
		display: flex;
		column-gap: 22px;
		height: 42px;
		align-items: center;
	}

	// .product-data__btns

	&__btns {
		display: flex;
		@include adaptiveValue("column-gap", 28, 10);
	}

	// .product-data__btn

	&__btn {
		padding: 12px 15px;
	}

	// .product-data__table

	&__table {
		margin-top: 67px;
	}
}
.settings__title {
	font-size: rem(13);
	line-height: math.div(18, 13);
}

.table-product {
	tr {
		&:first-child {
			height: 59px;
		}
	}

	td {
		vertical-align: top;
		&:first-child {
			padding-right: 26px;
		}
	}
	// .table-product__title1

	&__title1 {
		position: relative;
		font-weight: 600;
		font-size: rem(16);
		line-height: math.div(22, 16);
		text-transform: uppercase;
		color: #000000;
		&::before {
			content: "";
			position: absolute;
			top: 27px;
			left: 0;
			border-bottom: 1px solid #000000;
			width: 62px;
		}
	}

	// .table-product__title2

	&__title2 {
		font-weight: 600;
		font-size: rem(16);
		line-height: math.div(22, 16);
		text-transform: uppercase;
		color: #535353;
	}

	// .table-product__body

	&__body {
		height: 36px;
	}

	// .table-product__subtitle

	&__subtitle {
		font-weight: 300;
		font-size: rem(16);
		line-height: math.div(19, 16);
		color: #535353;
	}

	// .table-product__descr

	&__descr {
		font-weight: 400;
		font-size: rem(16);
		line-height: math.div(19, 16);
		color: #535353;
	}
}

// Cart
.cart {
	margin-top: 107px;
	margin-bottom: 95px;
	// .cart__inner

	&__inner {
		display: flex;
		justify-content: space-between;
		column-gap: 5px;
		flex-wrap: wrap;
		@media (max-width: 1106px) {
			row-gap: 30px;
		}
	}

	// .cart__data

	&__data {
		background: #f3eded;
		box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.25);
		border-radius: 5px;
		max-width: 361px;
		@media (max-width: 1106px) {
			max-width: 100%;
		}
		width: 100%;
		padding: 17px 20px;
		&_body {
			display: flex;
			flex-direction: column;
			row-gap: 34px;
		}
		&_line {
			display: flex;
			column-gap: 24px;
			&.shoping {
				padding-bottom: 34px;
				border-bottom: 1px solid #000000;
			}
		}
		&_btn {
			margin: 0 auto;
			padding: 10px 16px;
		}
	}

	// .cart__totals

	&__totals {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}

	// .cart__title

	&__title {
		font-weight: 600;
		font-size: rem(20);
		line-height: math.div(27, 20);
		color: #000000;
		text-align: left;
		vertical-align: top;
	}

	// .cart__shipping_text

	&__shipping {
		&_text {
			font-weight: 400;
			font-size: rem(14);
			line-height: math.div(19, 14);
			color: #535353;
		}
		&_btn {
			font-weight: 700;
			font-size: rem(14);
			line-height: math.div(19, 14);
			text-transform: uppercase;
			margin-top: 8px;
			color: #000000;
		}
	}
}

h4.cart__title {
	border-bottom: 1px solid #000000;
	padding-bottom: 12px;
	margin-bottom: 20px;
}
.cart-table {
	width: 100%;
	@include adaptiveValue("max-width", 754, 700, 1920, 1106, 1);
	@media (max-width: 1106px) {
		max-width: 100%;
	}
	// .cart-table__body

	&__body {
		display: flex;
		flex-direction: column;
		row-gap: 18px;
	}

	// .cart-table__line

	&__line {
		border-bottom: 1px solid #000000;
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 10px;
		&:not(:last-child) {
			padding: 9px 15px;
			@media (max-width: 556px) {
				flex-direction: column;
				row-gap: 10px;
				align-items: flex-start;
				padding: 0;
			}
		}
		&:last-child {
			border: 1px solid #535353;
			td {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				align-items: center;
				row-gap: 10px;
				width: 100%;
				padding: 9px 28px;
				input {
					height: 40px;
				}
				.btn {
					padding: 10px 16px;
					@media (max-width: 556px) {
						padding: 10px 10px;
					}
				}
			}
		}
	}

	// .cart-table__remove

	&__remove {
		display: flex;
		align-items: center;
		@media (max-width: 556px) {
			justify-content: flex-end;
			width: 100%;
		}
	}

	// .cart-table__close

	&__close {
		i {
			font-size: rem(25);
		}
	}

	// .cart-table__thambnail

	&__thambnail {
		@media (max-width: 556px) {
			width: 100%;
		}
	}

	// .cart-table__img

	&__img {
		img {
			object-fit: cover;
			object-position: center;
			width: 96px;
			height: 96px;
			@media (max-width: 556px) {
				width: 100%;
				height: 100%;
			}
		}
	}

	// .cart-table__name

	&__name {
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 12px;
		&_title {
			font-size: rem(14);
			text-transform: uppercase;
			line-height: math.div(19, 14);
			@media (max-width: 556px) {
				font-size: rem(25);
			}
		}
	}
	// .cart-table__size

	&__size {
		font-size: rem(14);
		line-height: math.div(19, 14);
		color: #000000;
		@media (max-width: 556px) {
			font-size: rem(20);
		}
	}
	// .cart-table__color

	&__color {
		font-size: rem(14);
		line-height: math.div(19, 14);
		color: #000000;
		@media (max-width: 556px) {
			font-size: rem(20);
		}
	}

	// .cart-table__price

	&__price {
		display: flex;
		align-items: center;
		// .cart-table__price_text

		&_text {
			font-weight: 700;
			@include adaptiveValue("font-size", 20, 14);
			line-height: math.div(27, 20);
			color: #535353;
			white-space: nowrap;
			@media (max-width: 556px) {
				font-size: rem(30);
			}
		}
	}

	// .cart-table__quantity

	&__quantity {
		@include adaptiveValue("max-width", 119, 70);
		width: 100%;
		// .cart-table__quantity_text

		&_text {
			border-bottom: 1px solid #000000;
			height: 40px;
			width: inherit;
			font-weight: 700;
			font-size: rem(20);
			line-height: math.div(27, 20);
			text-align: center;
			color: #000000;
		}
	}

	// .cart-table__subtotal

	&__subtotal {
	}
}
.card-input {
	// .card-input__cupon

	&__cupon {
	}
}
