//====================================================================================================
// Home
//====================================================================================================

.intro {
	// .intro__inner

	&__inner {
		position: relative;
		display: flex;
		justify-content: space-between;
		column-gap: 5px;
	}

	// .intro__left

	&__left {
		margin-top: 76px;
		display: flex;
		flex-direction: column;
		row-gap: 25px;
		justify-content: center;
		align-items: center;
	}

	// .intro__title

	&__title {
	}

	// .intro__card

	&__card {
		position: relative;
		> img,
		picture {
			object-fit: cover;
			object-position: center;
			width: 100%;
		}
	}

	// .intro__btn

	&__btn {
		position: absolute;
		right: 24px;
		bottom: 29px;
		@media (max-width: 650px) {
			right: 50%;
			transform: translateX(50%);
		}
	}

	// .intro__subtitle

	&__subtitle {
		position: absolute;
		top: 147px;
		left: 40.8%;
		transform: rotate(90deg) translateY(50%);
		white-space: pre;
		background-color: #fff;
		font-weight: 700;
		font-size: rem(26);
		padding: 21px 48px;
		height: fit-content;
		@media (max-width: 1112px) {
			display: none;
		}
	}

	// .intro__right

	&__right {
		@media (max-width: 650px) {
			display: none;
		}
		img,
		picture {
			object-fit: cover;
			object-position: center;
			width: 100%;
		}
	}
}

// Slider

.slider {
	margin-top: 50px;
	padding: 54px 0;
	&__inner {
		position: relative;
	}
	&__title {
		margin-bottom: 26px;
	}
}
.new {
	// .new__slider

	&__slider {
		width: 88%;
		margin: 0 auto;
	}

	// .new__swiper

	&__swiper {
		margin: 15px 0;
	}

	// .new__slide

	&__slide {
		opacity: 0.5;
		transition: opacity 0.5s ease-in-out;
		&.swiper-slide-prev {
			opacity: 1;
			transform: scale(1.04);
			transition: all 0.5s ease-in-out;
		}
		&.swiper-slide-next {
			opacity: 1;
			transform: scale(1.04);
			transition: all 0.5s ease-in-out;
		}
		&.swiper-slide-active {
			opacity: 1;
			transform: scale(1.04);
			transition: all 0.5s ease-in-out;
		}
	}
}
.card-product {
	background: #ffffff;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	padding: 23px;

	// .card-product__img

	&__img {
		position: relative;
		.sale {
			position: absolute;
			top: 11px;
			left: 11px;
			background: #ff6161;
			border-radius: 3px;
			padding: 3px 7px;
			font-size: rem(10);
			line-height: math.div(14, 10);
			color: #ffffff;
		}
	}

	// .card-product__data

	&__data {
	}

	// .card-product__btns

	&__btns {
		display: flex;
		justify-content: space-between;
	}

	// .card-product__btn

	&__btn {
	}
}
.data-product {
	padding: 8px 0;
	// .data-product__title

	&__title {
		font-weight: 600;
		font-size: rem(20);
		line-height: math.div(27, 20);
		margin-bottom: 6px;
	}

	// .data-product__price

	&__price {
		display: flex;
		align-items: flex-end;
		column-gap: 9px;
	}
}
.price {
	line-height: math.div(22, 16);
}
.old_price {
	font-weight: 300;
	font-size: rem(12);
	line-height: math.div(16, 12);
	color: #a3a3a3;
	text-decoration: solid;
	text-decoration: line-through;
}

.new-arrow {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	// .new-arrow_prev

	&_prev {
		position: absolute;
		font-size: rem(30);
		left: 0;
		cursor: pointer;
	}

	// .new-arrow_next

	&_next {
		position: absolute;
		font-size: rem(30);
		right: 0;
		cursor: pointer;
	}
}

// Banner

.banner {
	margin-bottom: 70px;
	// .banner__inner

	&__inner {
		background-color: #e0d5cf;
		display: flex;
		justify-content: space-between;
		column-gap: 15px;
		@media (max-width: $mobile) {
			flex-direction: column;
			row-gap: 30px;
			padding-top: 30px;
		}
	}

	// .banner__left

	&__left {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 21px;
	}

	// .banner__title

	&__title {
		text-align: center;
	}

	// .banner__img

	&__img {
		img,
		picture {
			object-fit: cover;
			object-position: center;
			max-width: 573px;
			max-height: 243px;
			@media (max-width: $mobile) {
				max-width: 100%;
				width: 100%;
			}
		}
	}
}

// Catalog

.catalog {
	// .catalog__top

	&__top {
	}

	// .catalog__title

	&__title {
	}

	// .catalog__inner

	&__inner {
		margin-top: 52px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 32px;
	}

	// .catalog__products

	&__products {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 17, 9);
		row-gap: 24px;
		margin-bottom: 36px;
	}
}
.breadcrambs {
	font-size: rem(12);
	line-height: math.div(16, 12);
	color: #000000;
	a {
		&:first-child {
			font-weight: 700;
		}
	}
}
.filters-catalog {
	display: flex;
	align-items: center;
	column-gap: 30px;
	margin-top: 80px;
	// .filters-catalog__title

	&__title {
		display: flex;
		align-items: center;
		column-gap: 9px;
		p {
			font-size: rem(16);
			line-height: math.div(22, 16);
			color: #000000;
		}
		i {
			font-size: rem(20);
		}
	}

	// .filters-catalog__form

	&__form {
		display: flex;
		align-items: center;
		column-gap: 30px;
	}

	// .filters-catalog__filter

	&__filter {
	}
}

// Product

.product {
	margin-bottom: 84px;
	// .product__top

	&__top {
	}

	// .product__inner

	&__inner {
		margin-top: 28px;
		display: flex;
		column-gap: 27px;
	}

	// .product__gallery

	&__gallery {
		display: flex;
		flex-direction: column;
		row-gap: 35px;
		max-width: 569px;
	}
}
.product-zoom {
	height: 574px;
	width: 569px;
	overflow: hidden;
	cursor: pointer;
	// .product-zoom__img

	&__img {
		object-fit: cover;
		object-position: center;
		width: 100%;
		transition: transform 0.3s ease-in-out;
		&:hover {
			transform: scale(1.4);
			transition: transform 0.3s ease-in-out;
		}
	}
}
.product-thumbs {
	// .product-thumbs__track

	&__track {
		display: flex;
		column-gap: 21px;
		width: 100%;
		overflow-x: scroll;
		overflow-y: hidden;
		height: 142px;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
.pt {
	img,
	picture {
		width: 176px;
		object-fit: cover;
		object-position: center;
		height: 142px;
	}
	&.active {
		img,
		picture {
			border: 2px solid #000000;
		}
	}
}
.product-data {
	// .product-data__article

	&__article {
		font-size: rem(16);
		color: #414141;
		span {
			font-size: rem(14);
			color: #000000;
		}
		margin-bottom: 35px;
	}

	// .product-data__title

	&__title {
		font-weight: 700;
		font-size: rem(30);
		line-height: math.div(41, 30);
		text-transform: uppercase;
		margin-bottom: 29px;
	}

	// .product-data__descr

	&__descr {
		margin-bottom: 18px;
	}

	// .product-data__price

	&__price {
		font-weight: 700;
		font-size: rem(28);
		line-height: math.div(38, 28);
		margin-bottom: 26px;
	}

	// .product-data__settings

	&__settings {
		display: flex;
		column-gap: 37px;
	}

	// .product-data__size

	&__size {
	}

	// .product-data__color

	&__color {
	}

	// .product-data__colors

	&__colors {
	}

	// .product-data__btns

	&__btns {
	}

	// .product-data__btn

	&__btn {
	}

	// .product-data__table

	&__table {
	}
}
.settings {
	// .settings__title

	&__title {
	}
}
.select {
	// .select__header

	&__header {
	}

	// .select__current

	&__current {
	}

	// .select__icon

	&__icon {
	}

	// .select__body

	&__body {
	}

	// .select__item

	&__item {
	}
}
.form {
	// .form_radio

	&_radio {
	}
}
.table-product {
	// .table-product__title1

	&__title1 {
	}

	// .table-product__title2

	&__title2 {
	}

	// .table-product__body

	&__body {
	}

	// .table-product__subtitle

	&__subtitle {
	}

	// .table-product__descr

	&__descr {
	}
}
